version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/$ORG_NAME/$REPO_NAME
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure -vendor-only
      - run: go build -a -o $REPO_NAME .
